doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .App42PaaS_header_wrapper
      .App42PaaS_header_inner
        .App42PaaS_header
          .logo
            a(href='/')
              img(border='0', alt='App42PaaS', src='/images/logo.png')
    .App42PaaS_body_wrapper
      .App42PaaS_body
        .App42PaaS_body_inner
          block content