

extends layout
block content
  h1 Listing users
    table
      thead
        tr
          th Name
          th Email
          th Description
      tbody
        - each user in users.rows
          tr
            td #{user.name}
            td #{user.email}
            td #{user.des}
    br

  a(href="users/new") Add New User
